<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
   http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <mirrors>
    <mirror>
      <!--This sends everything else to /public -->
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://211.110.82.67:8084/nexus/content/groups/public</url>
    </mirror>
    <mirror>  
      <id>snapshots</id>  
      <mirrorOf>public-snapshots</mirrorOf>  
      <url>http://211.110.82.67:8084/nexus/content/repositories/snapshots</url>  
    </mirror> 
  </mirrors>
  <profiles>
    <profile>
      <id>nexus</id>
      <!--Enable snapshots for the built in central repo to direct -->
      <!--all requests to nexus via the mirror -->
      <repositories>
        <repository>
          <id>central</id>
          <url>http://211.110.82.67:8084/nexus/content/repositories/central/</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
        <repository>
          <id>nexus-snapshots</id>
          <url>http://211.110.82.67:8084/nexus/content/repositories/snapshots/</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
        <repository>
          <id>nexus-releases</id>
          <url>http://211.110.82.67:8084/nexus/content/repositories/releases/</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
   
     <!-- <pluginRepositories> -->
        <!-- <pluginRepository> -->
          <!-- <id>central</id> -->
          <!-- <url>http://211.110.82.67:8084/central</url> -->
          <!-- <releases><enabled>true</enabled></releases> -->
          <!-- <snapshots><enabled>true</enabled></snapshots> -->
        <!-- </pluginRepository> -->
      <!-- </pluginRepositories> -->
    </profile>
  </profiles>

  <localRepository>D:\Cafe\workspace\SNAPSHOT\Standard\m2\repository</localRepository>

  <activeProfiles>
    <!--make the profile active all the time -->
    <activeProfile>local</activeProfile>
<!--     <activeProfile>jtapi</activeProfile> -->
    <activeProfile>nexus</activeProfile>
  </activeProfiles>

	<servers>
		<server>
			<id>nexus-releases</id>
			<username>admin</username>
			<password>cafe2413</password>
		</server>
		<server>
			<id>nexus-snapshots</id>
			<username>admin</username>
			<password>cafe2413</password>
		</server>
	</servers>
</settings>